<!DOCTYPE html>
<html>
  <head>
    <title>LoanTracker</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <div class="card rounded-0">
      <div class="card-header" id="header">
        <a class="btn btn-outline-secondary float-start" href="/">
          <i class="bi bi-caret-left-fill fs-4 text-black"></i>
        </a>
        <h2 class="pt-2 text-center"><%= content_for :header  %></h2>
      </div>
      <%= yield %>
    </div>
  </body>
</html>
